.label {
    -fx-font-family: "serif";
    -fx-text-fill: #164F4F;
    -fx-opacity: 1;

}

.JFXButton {
    -fx-background-color: rgba(63, 191, 191,0.7);
    -fx-text-fill: #E1F5FE;
    -fx-font-family: "serif";
}

.JFXButton:hover{
    -fx-background-color: rgba(170, 237, 237,0.7);
}

.JFXTextField {
	-fx-font-family: "serif";
	-fx-prompt-text-fill: #164F4F;
	-fx-text-fill: #164F4F;
}

.JFXPasswordField {
	-fx-font-family: "serif";
	-fx-prompt-text-fill: #164F4F;
	-fx-text-fill: #164F4F;
}

.JFXRadioButton {
	-fx-font-family: "serif";
	-fx-text-fill: #164F4F;
	-jfx-selected-color: #5E89B5;
    -jfx-unselected-color: #164F4F;
}

.JFXCheckBox {
	-fx-font-family: "serif";
	-fx-text-fill: #164F4F;
	-jfx-selected-color: #E1F5FE;
    -jfx-unselected-color: #164F4F;
}

.JFXDatePicker {
	-fx-font-family: "serif";
	-fx-text-fill: #164F4F;
}

.JFXComboBox {
	-fx-font-family: "serif";
	-fx-text-fill: #164F4F;
	-fx-prompt-text-fill: #164F4F;
}










