.thisScanLbl {
	-fx-font-size: 80;
}

.thisSearchCodeButton:hover {
	-fx-effect: dropshadow(three-pass-box , cornflowerblue  , 50.0, 0.7 , 0.0 , 0.0);
}

.experationDate {
	-fx-font-size: 40;
}

.waintingForScanLable {
	-fx-font-size: 30;
}

.root {
	-fx-background-image: url("1.jpg");
   -fx-background-position: center;
   -fx-background-repeat: no-repeat;
   -fx-background-size: cover;
	
}

