.thisScanLbl {
	-fx-font-size: 40;
}

.thisSearchCodeButton {
	-fx-background-image: url("search.png");
	-fx-background-size: cover;
    -fx-background-color: transparent
}

.thisSearchCodeButton:hover {
	-fx-effect: dropshadow(three-pass-box , cornflowerblue  , 50.0, 0.7 , 0.0 , 0.0);
}

.thisHeaderLables {
	-fx-font-size: 35;
}

.experationDate {
	-fx-font-size: 20;
}


