#searchCodeButton {
	-fx-background-image: url("search.png");
	-fx-background-size: cover;
    -fx-background-color: transparent
}

#searchCodeButton:hover {
	-fx-effect: dropshadow(three-pass-box , cornflowerblue  , 50, 0.7 , 0 , 0);
}




