#ChooseOperationLbl {
	-fx-font-size: 40;
}



.ourButton {
	-fx-font-size: 20px;
	-fx-font-family: "serif";
	-fx-base: #00a7d4;
	-fx-background: cornsilk;
	-fx-focus-color: #0093FF;
	-fx-control-inner-background: cornsilk;
	-fx-text-base-color: #FFFFFF;
	-fx-background-color:#00a7d4;
	-fx-inner-border: linear-gradient(to bottom, derive(-fx-color,73.6%) 0%, derive(-fx-color,29.200000000000003%) 100%);
	-fx-body-color: linear-gradient( to bottom, derive(-fx-color, 34.0%) 0%, derive(-fx-color, -18.0%) 100%);
	-fx-background-insets: 0px;
	-fx-background-radius: 0px;
	-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
	-fx-text-fill: -fx-text-base-color;
	-fx-alignment: CENTER;
	-fx-content-display: LEFT;
}

.ourButton:focused {
	-fx-color:#00a7d4;
	-fx-background-color:#ED9C28, #00a7d4;
	-fx-background-insets: -1.4, 0, 1, 2;
	-fx-background-radius: 0;
}

.ourButton:hover {
	-fx-focus-color: #FF0000;
	-fx-background-color: #ED9C28, #0187ab;
}


.label {
    -fx-font-family: "serif";
    -fx-text-fill: midnightblue;
    -fx-opacity: 1;
    -fx-font-weight: bold;
}

