.label {
    -fx-font-family: "serif";
    -fx-text-fill: #164F4F;
    -fx-opacity: 1;
    -fx-font-size: 15;

}

.JFXButton {
    -fx-background-color: rgba(63, 191, 191,0.7);
    -fx-text-fill: #E1F5FE;
    -fx-font-family: "serif";
    -fx-font-size: 15;
}

.JFXButton:hover{
    -fx-background-color: rgba(170, 237, 237,0.7);
    -fx-font-size: 15;
}

.JFXTextField {
	-fx-font-family: "serif";
	-fx-prompt-text-fill: #164F4F;
	-fx-text-fill: #164F4F;
	-fx-font-size: 15;
}

.JFXPasswordField {
	-fx-font-family: "serif";
	-fx-prompt-text-fill: #164F4F;
	-fx-text-fill: #164F4F;
}

.JFXRadioButton {
	-fx-font-family: "serif";
	-fx-text-fill: #164F4F;
	-jfx-selected-color: #5E89B5;
    -jfx-unselected-color: #164F4F;
    -fx-font-size: 15;
}

.JFXCheckBox {
	-fx-font-family: "serif";
	-fx-text-fill: #164F4F;
	-jfx-selected-color: #E1F5FE;
    -jfx-unselected-color: #164F4F;
    -fx-font-size: 15;
}

.JFXDatePicker {
	-fx-font-family: "serif";
	-fx-text-fill: #164F4F;
}

.JFXComboBox {
	-fx-font-family: "serif";
	-fx-text-fill: #164F4F;
	   -fx-font-size: 15;
}

.icon {
	-fx-effect: dropshadow(three-pass-box , azure , 50, 0.7 , 0 , 0);
}

.icon:hover {
	-fx-effect: dropshadow(three-pass-box , #d2f2e8 , 50, 0.7 , 0 , 0);
}

.header {
	-fx-font-size: 40;
}











