.r{
	-fx-background-color: azure;
}

.label {
    -fx-font-family: "serif";
    -fx-text-fill: midnightblue;
    -fx-opacity: 1.0;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 3.0, 0.0 , 0.0 , 1.0 );
    -fx-font-weight: bold;
}


.radio-button { 
	-fx-font-family: "serif";
    -fx-text-fill: darkslateblue;
    -fx-opacity: 1.0;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 3.0, 0.0 , 0.0 , 1.0 );
    -fx-font-weight: bold;	
}


.radio-button .dot {
  -fx-mark-highlight-color: midnightblue;
  -fx-mark-color: midnightblue; 
}


.check-box { 
	-fx-font-family: "serif";
	-fx-text-fill: darkslateblue;
	-fx-opacity: 1.0;
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 3.0, 0.0 , 0.0 , 1.0 );
	-fx-font-weight: bold;	
}
