.root {
   -fx-background-image: url("mainScreen.jpg");
   -fx-background-color: transparent;
   -fx-background-position: center;
   -fx-background-repeat: no-repeat;
   -fx-background-size: auto;
   -fx-text-fill: midnightblue;
   -fx-opacity: 1.0;
   -fx-font-weight: bold;
}

#addButton {
	-fx-background-image: url("add-to-customer-cart-light.png");
	-fx-background-size: cover;

}

#removeButton {
	-fx-background-image: url("remove-from-cart-light.png");
	-fx-background-size: cover;
}

#removeAllButton {
	-fx-background-color: crimson;
	-fx-text-base-color: aliceblue;
	-fx-background: cornsilk;
	-fx-control-inner-background: cornsilk;
	-fx-border-style: dashed;
}

#cancelButton {
	-fx-background-image: url("close-button.png");
	-fx-background-size: cover;
}

#purchaseButton {
	-fx-background-image: url("purchaes-button.png");
	-fx-background-size: cover;
}

.jfx-list-view {
	-fx-background-image: url("groceryListBackground.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: auto;
	-fx-background-insets: 0;
	-fx-cell-vertical-margin: 10.0;
	-fx-vertical-gap: 10;
	-fx-pref-width: 100;
}

.jfx-list-cell {
  -fx-max-width: 10px;
  -fx-background-radius: 30px;
}

.jfx-list-cell .jfx-rippler{
	-fx-rippler-fill:BLUE;
}

.jfx-list-cell:hover{
	-fx-background-color: #9bb5ad;
}