.header {
	-fx-font-size: 40;
 	-fx-text-fill: indigo;
}

.thisLabels {
	-fx-font-size: 25;
}

.thisListLabel {
	-fx-font-size: 15;
}

.productDetailsLabel {
	-fx-font-size: 15;
}


.listNoBorder {
	-fx-padding: 0px;
}

.sale {
	-fx-text-fill: indigo;
}