.root {
   -fx-background-image: url("registration-bck-ground.jpg");
   -fx-background-position: center;
   -fx-background-repeat: no-repeat;
   -fx-background-size: cover;
   -fx-background-color: white;
   
}

#nextButton {
	-jfx-button-type: RAISED;
	-fx-background-color: #00FFCC;
	-fx-border-radius: 8px;
	-fx-text-fill: WHITE;
}

#backButton {
	-jfx-button-type: RAISED;
	-fx-background-color: #FF3300;
	-fx-border-radius: 8px;
	-fx-text-fill: WHITE;
}

#registerButton {
	-jfx-button-type: RAISED;
	-fx-background-color: #00FFCC;
	-fx-border-radius: 8px;
	-fx-text-fill: WHITE;
}