.root {
   -fx-background-image: url("registration-bck-ground.jpg");
   -fx-background-position: center;
   -fx-background-repeat: no-repeat;
   -fx-background-size: cover;
   -fx-background-color: white;
   
}

.headerTerms {
	-fx-font-size: 20;	
}

.readCheckBox {
	-fx-font-size: 15;
}