.root {
   -fx-background-image: url("registration-bck-ground.jpg");
   -fx-background-position: center;
   -fx-background-repeat: no-repeat;
   -fx-background-size: cover;
   -fx-background-color: white;
   
}

#nextButton {
	-jfx-button-type: RAISED;
	-fx-background-color: #00FFCC;
	-fx-border-radius: 8px;
	-fx-text-fill: WHITE;
}

#cancelButton {
	-jfx-button-type: RAISED;
	-fx-background-color: BLACK;
	-fx-border-radius: 8px;
	-fx-text-fill: WHITE;
}

#inputGridPane {
	-fx-background-radius: 16px, 0 ;
	-fx-background-color: rgba(255,255,255,0.2);
}

.text-field {
	-fx-prompt-text-fill:  #4d4d4d;
}
