.root {
	-fx-background-image: url("back.jpg");
   -fx-background-position: center;
   -fx-background-repeat: no-repeat;
   -fx-background-size: cover;
   -fx-background-color: white;
   
}


#logout {
	-fx-background-image: url("logout.png");
	-fx-background-size: cover;
    -fx-background-color: transparent
}

#logout:hover {
	-fx-effect: dropshadow(three-pass-box , cornflowerblue  , 50.0, 0.7 , 0.0 , 0.0);
}

#recentActivityLbl {
	-fx-text-fill: Azure;
}












