.root {
	-fx-background-image: url("back.jpg");
   -fx-background-position: center;
   -fx-background-repeat: no-repeat;
   -fx-background-size: cover;
   -fx-background-color: white;
   
}

.radio-button { 
	-fx-font-family: "serif";
    -fx-text-fill: darkslateblue;
    -fx-opacity: 1.0;
    -fx-font-weight: bold;	
}

#logout {
	-fx-background-image: url("logout.png");
	-fx-background-size: cover;
    -fx-background-color: transparent
}

#logout:hover {
	-fx-effect: dropshadow(three-pass-box , cornflowerblue  , 50.0, 0.7 , 0.0 , 0.0);
}

.radio-button .dot {
  -fx-mark-highlight-color: midnightblue;
  -fx-mark-color: midnightblue; 
}


.check-box { 
	-fx-font-family: "serif";
	-fx-text-fill: darkslateblue;
	-fx-opacity: 1.0;
	-fx-font-weight: bold;	
}









