.root {
   -fx-background-image: url("background1.jpg");
   -fx-background-size: cover;
}

.label {
    -fx-font-family: "serif";
    -fx-text-fill: midnightblue;
    -fx-opacity: 1;

}

#backButton {
	-fx-background-image: url("home.png");
	-fx-background-size: cover;
    -fx-background-color: transparent;
}

#backButton:hover {
	-fx-effect: dropshadow(three-pass-box , azure , 50, 0.5 , 0 , 0);
}
    

#settingsButton {
	-fx-background-image: url("setting.png");
	-fx-background-size: cover;
    -fx-background-color: transparent
}

#settingsButton:hover {
	-fx-effect: dropshadow(three-pass-box , azure   , 50, 0.7 , 0 , 0);
}

#WelcomeLbl {
	-fx-font-size: 100;
}

#pleaseLoginLbl {
 	-fx-font-size: 30;
 	-fx-text-fill: indigo;
}

#forgotPassLbl {
	-fx-font-size: 15;
}


.JFXButton {
    -fx-background-color: rgba(63, 191, 191,0.7);
    -fx-text-fill: #E1F5FE;
    -fx-font-family: "serif";
    -fx-font-size: 20px;
}

.JFXButton:hover{
    -fx-background-color: rgba(170, 237, 237,0.7);
}


.JFXTextField {
	-fx-font-size: 20;
	-fx-prompt-text-fill: indigo;
	-fx-text-fill: indigo;
}

.JFXPasswordField {
	-fx-font-size: 20;
	-fx-prompt-text-fill: indigo;
	-fx-text-fill: indigo;
}






