.root {
   -fx-background-image: url("family.jpg");
   -fx-background-size: cover;
   
}

#backButton {
	-fx-background-image: url("home.png");
	-fx-background-size: cover;
    -fx-background-color: transparent;
}

#settingsButton {
	-fx-background-image: url("setting.png");
	-fx-background-size: cover;
    -fx-background-color: transparent;
}
 

