
.WelcomeLbl {
	-fx-font-size: 100;
	-fx-text-fill: midnightblue;
}

.pleaseLoginLbl {
 	-fx-font-size: 30;
 	-fx-text-fill: indigo;
}

.forgotPassLbl {
	-fx-font-size: 15;
}

.JFXButton {
	-fx-font-size: 20px;
}

.JFXTextField {
	-fx-font-size: 20;
}

.JFXPasswordField {
	-fx-font-size: 20;
}

.forgotPassLbl {
	-fx-text-fill: blue;
	-fx-font-size: 15;
}





